{% extends "_base.html" %} {% load static %}
{% block style %}


{% endblock %}

{% block content %}
<div class="flex flex-col items-center content-center my-8 w-full">
    <form action="/comic/project/create/" enctype='multipart/form-data' method="post" class="flex flex-col items-start w-1/2 border-2 border-slate-800 p-4 m-4">
        {% csrf_token %}
        <label class="mb-2" for='name-input'>Name:</label>
        <input class="border-2 border-slate-800 w-full p-1" type="text" id='name-input' name='name'  placeholder="Name your masterpiece..."/>
        <label for="description-input" class="my-2">Description: </label>
        <textarea class="border-2 border-slate-800 w-full p-1" id='description-input' name='description' max_length="2048" rows="10" placeholder="Enter a short description for this work (2048 characters max)"></textarea>
        <label class="my-2" for="image-input">Image:</label>
        <select class="appearance-none p-2 rounded-none border-2 border-slate-800 w-full"  id="image-input" name="image">
            {% for image in image_options %}
            <option value="{{image.id}}">{{image.name}}</option>
            {% endfor %}
        </select>
        <div id="detail-buttons" class="w-full flex flex-row gap-x-4 items-center justify-center mt-8">
            <a href="/comic/project/index/" class="text-center w-24 p-2 border-4 border-slate-800 text-slate-800 bg-slate-50 shadow-2xl hover:shadow-md hover:bg-slate-800 hover:text-slate-50 uppercase">Back</a>
            <button type="submit" value="submit" class="w-24 p-2 border-4 border-green-800 text-green-800 bg-slate-50 shadow-2xl hover:focus:shadow-md hover:bg-green-800 hover:text-slate-50 uppercase">Save</button>
            <button type="cancel" class="w-24 p-2 border-4 border-red-800 text-red-800 bg-slate-50 shadow-2xl hover:focus:shadow-md hover:bg-red-800 hover:text-slate-50 uppercase">Delete</button>
        </div>
    </form>
    
</div>
{% endblock %}