{% extends "_base.html" %} {% load static %}

{% block content %}
<div class="flex flex-col items-center content-center mt-8 w-full">
    <div id='detail-card' class=" border-4  border-slate-800 w-1/2">
        <img class="w-full aspect-auto border-2 border-slate-800" src="{{project.image.image.url}}" alt="{{project.image.alt_text}}"/>
        <h1 class="p-2 text-4xl border-t-4 border-slate-800">{{project.name}}</h1>
        <div class="text-lg p-2 flex flex-col gap-y-3 indent-4">
            {{project.description|linebreaks}}
        </div>

    </div>
</div>

<div id="detail-buttons" class="flex flex-row gap-x-4 items-center justify-center mt-8 mb-12">
    <a href="/comic/project/index/" class="text-center w-24 p-2 border-4 border-slate-800 text-slate-800 bg-slate-50 shadow-2xl hover:shadow-md hover:bg-slate-800 hover:text-slate-50 uppercase">Back</a>
    <a href="/comic/project/edit/{{project.id}}/" class="text-center w-24 p-2 border-4 border-slate-800 text-slate-800 bg-slate-50 shadow-2xl hover:shadow-md hover:bg-slate-800 hover:text-slate-50 uppercase">Edit</a>
    <button class="w-24 p-2 border-4 border-red-800 text-red-800 bg-slate-50 shadow-2xl hover:focus:shadow-md hover:bg-red-800 hover:text-slate-50 uppercase">Delete</button>
</div>
{% endblock %}