{% extends "_base.html" %} {% load static %}
{% block style %} 
{%endblock %} {% block font %}
<link
  defer
  href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Karla&family=Rubik:wght@500;700&display=swap"
  rel="stylesheet"
/>
{% endblock %} 
{% block meta %}
<meta property="og:title" content="Townsley Comic" />
<meta property="og:description" content="A graphic novel by Cole Keehne"/>
<meta property="og:type" content="book" />
<meta property="og:url" content="https://townsleycomic.com" />
<meta property="og:image" content="{{project.image_url}}" />
{% endblock %}
{% block title %}Home{% endblock title %} 
{% block content %}
<div id='desktop-full-screen' class='hidden fixed z-20'>
    {% include '_desktop-full-screen.html' %}
</div>
<div id='mobile-full-screen' class='hidden absolute top-0 z-40'>
    {% include '_mobile-full-screen.html' %}
</div>
<div class="relative w-full h-fit flex flex-col items-center content-center p-4 pt-12 gap-y-4">
    {% for volume in project.volumes %}
    <div class="flex flex-col items-center content-center gap-y-4">
        <h2 id="volume-{{volume.id}}" class="w-11/12 text-2xl md:w-1/2 md:text-4xl">{{volume.name}}</h2>
        {% for scene in volume.scenes %}
        <div class="flex flex-col items-center content-center gap-y-4 w-11/12 md:w-1/2" id="volume-{{volume.id}}-scene-{{scene.id}}">
            {% for page in scene.pages %}
            <img class="flex flex-col items-center content-center w-full gap-y-2 border-4 md:border-8  border-gray-800" src="{{page.url}}" alt="{{page.alt}}" data-url='{{page.url}}' onclick="handleImageClick('{{page.url}}')" onkeydown="handleImageKeyboardEvent(event)" tabindex="0"/>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <a href="{{comic_url}}" class="mt-2 p-2 border-2 border-gray-800 hover:bg-gray-800 focus:bg-gray-800 hover:text-gray-50 focus:text-gray-50" target="blank">Want your own copy of Townsley? Click Here!</a>

    {% endfor %}
    {{project|json_script:"projectData"}}
        <script>
            var convertedProject = JSON.parse(document.getElementById('projectData').textContent);
            registerFullPageContext(convertedProject);
        </script>
</div>
{% endblock content %}