{% extends "_base.html" %} {% load static %}
{% block style %} 
h1, h2, a, div {font-family: 'Rubik', sans-serif; } p { font-family: 'Karla', sans-serif; } 
{%endblock %} {% block font %}
<link
  defer
  href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Karla&family=Rubik:wght@500;700&display=swap"
  rel="stylesheet"
/>
{% endblock %} 
{% block title %}Home{% endblock title %} 
{% block content %}
<div class="w-full h-fit flex flex-col items-center content-center p-4 gap-y-4">
    <h1 class="text-6xl">{{project.name}}</h1>
    {% for volume in project.volumes %}
    <div class="flex flex-col items-center content-center gap-y-4" id="volume-{{volume.id}}">
        {% for scene in volume.scenes %}
        <div class="flex flex-col items-center content-center gap-y-4" id="volume-{{volume.id}}-scene-{{scene.id}}">
            {% for page in scene.pages %}
            <img class="flex flex-col items-center content-center w-4/5  gap-y-2 border-4 md:border-8  border-slate-800 dark:border-slate-100" src="{{page.url}}" alt="{{page.alt}}"/>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %}