{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    
    <style>
        h1, h2, a, div {font-family: 'Rubik', sans-serif; } p { font-family: 'Karla', sans-serif; } 

    {% block style %}
   
    {% endblock %}
    </style>

    {% block meta %}
    <!-- For OGP Tags -->
    {% endblock %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <script src="https://cdn.tailwindcss.com"></script>
    {% if debug %}   {% else %} <link rel="stylesheet" href="{% static "css/tailwind-output.css" %}">  {% endif %}
    <link
    defer
    href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Karla&family=Rubik:wght@500;700&display=swap"
    rel="stylesheet"
  />
    {% block font %}
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;700&display=swap" rel="stylesheet">
    {% endblock %}
    <script src="{% static 'helper.js' %}"></script>
</head>

    <title>{% block title %}{% endblock title %}</title>
<body class="w-screen h-screen min-h-screen relative bg-slate-50 text-slate-900 dark:bg-slate-800 dark:text-slate-100">
    <header class="w-full sticky-top flex flex-row justify-between px-4 py-2 border-b-2 border-slate-800 dark:border-slate-100">
        <a href="/"><h1 class="text-2xl">Townsley</h1></a>
        <div class="text-xl font-bold flex flex-row gap-x-1">
            {% if user.is_authenticated %}
            <div id="new-content-button" class="relative">
                <button class="hover:text-slate-700" onclick="toggleNewContentOptions()">Manage Content</span>
                <div id="new-content-options" class="hidden absolute mt-3 p-2 bg-slate-50 border-b-2 border-slate-800 border-x-2 w-full flex-col items-start z-20" id="new-content-options">
                    <a class="text-slate-900 hover:text-slate-700 dark:hover:text-slate-300" href="/content/image_index">Images</a>
                    <a class="text-slate-900 hover:text-slate-700 dark:hover:text-slate-300" href="/comic/">Pages</a>
                    <a class="text-slate-900 hover:text-slate-700 dark:hover:text-slate-300" href="/comic/new-scene">Scenes</a>
                    <a class="text-slate-900 hover:text-slate-700 dark:hover:text-slate-300" href="/comic/volume/index">Volumes</a>
                    <a class="text-slate-900 hover:text-slate-700 dark:hover:text-slate-300" href="/comic/project/index">Projects</a>
                </div>
            </div> •
            {% endif %}
            <a href="/users/about">About</a> •
            <a href="/comic">Comic</a>
        </div>
    </header>

{% block content %} 
  

{% endblock content %}
<footer class="w-full static bottom-0 flex flex-col text-center md:gap-x-2 items-center md:flex-row justify-center px-4 py-2 border-t-2 border-slate-800 dark:border-slate-100">
   <span>A <a class="text-green-500 hover:text-green-800 font-normal" href="https://doublel.studio">DoubleL Studio</a> creation from beautiful Wilmington, North Carolina</span>
   {% if not user.is_authenticated %}
   <span class="hidden md:block"> | </span> 
   <a href="/admin">Cole? Click here</a>
   {% endif %}
</footer>

</body>
</html>
    
